In [1]:
import pandas as pd

In [2]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj1 = pd.Series(sdata)
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj2 = pd.Series(sdata, index=states)
obj3 = pd.isnull(obj2)

In [5]:
obj3['California']

True

In [6]:
x = obj2['California']
obj2['California'] != x

True

In [7]:
obj2['California'] == None

False

In [8]:
import pandas as pd
d = {
    '1': 'Alice',
    '2': 'Bob',
    '3': 'Rita',
    '4': 'Molly',
    '5': 'Ryan'
}
S = pd.Series(d)

In [11]:
S.iloc[0:3]

1    Alice
2      Bob
3     Rita
dtype: object

In [42]:
ok = {'city': "Ohio", 'one': 1, 'two': 2, 'three': 3, 'four': 4 }
ok2 = {'city': "Colorado", 'one': 1, 'two': 2, 'three': 3, 'four': 4 }
ok3 = {'city': "Utah", 'one': 1, 'two': 2, 'three': 3, 'four': 4 }
ok4 = {'city': "New York", 'one': 1, 'two': 2, 'three': 3, 'four': 4 }
import pandas as pd
df = pd.DataFrame([ok, ok2, ok3, ok4])
df.set_index('city', inplace=True)
df.head()
df.drop('one', axis=1, inplace=True)
df.drop(['Utah', 'Colorado'], inplace=True)
df.drop('Ohio')
# df.drop('two')

          two  three  four
city
New York    2      3     4

In [43]:
import pandas as pd
s1 = pd.Series({1: 'Alice', 2: 'Jack', 3: 'Molly'})
s2 = pd.Series({'Alice': 1, 'Jack': 2, 'Molly': 3})

In [46]:
s2.iloc[1]
s1.append(s2)

1        Alice
2         Jack
3        Molly
Alice        1
Jack         2
Molly        3
dtype: object

In [45]:
s2.loc[1]

KeyError: 1

In [47]:
one = {'sno': 1, 'gre': 337, 'toefl': 118}
two = {'sno': 2, 'gre': 324, 'toefl': 107}
three = {'sno': 3, 'gre': 316, 'toefl': 104}
four = {'sno': 4, 'gre': 322, 'toefl': 110}
five = {'sno': 5, 'gre': 314, 'toefl': 103}

In [48]:
df = pd.DataFrame([one, two, three, four, five])

In [49]:
df.set_index('sno', inplace=True)

In [50]:
df

     gre  toefl
sno
1    337    118
2    324    107
3    316    104
4    322    110
5    314    103

In [51]:
df[(df['toefl'].isin(range(106,115)))]

     gre  toefl
sno
2    324    107
4    322    110

In [52]:
(df['toefl'] > 105) & (df['toefl'] < 115)

sno
1    False
2     True
3    False
4     True
5    False
Name: toefl, dtype: bool

In [53]:
df[df['toefl'].gt(105) & df['toefl'].lt(115)]

     gre  toefl
sno
2    324    107
4    322    110

In [54]:
df[(df['toefl'] > 105) & (df['toefl'] < 115)]

     gre  toefl
sno
2    324    107
4    322    110

In [65]:
alice = {'major': 'Mathematics', 'name': 'Alice', 'age': '22'}
df = pd.DataFrame([alice])
df.set_index('major', inplace=True)
df

              name age
major
Mathematics  Alice  22

In [60]:
df.T['Mathematics']

name    Alice
age        22
Name: Mathematics, dtype: object

In [67]:
#df['Mathematics']
#df.iloc['Mathematics']
df['name']
df.loc['Mathematics']

name    Alice
age        22
Name: Mathematics, dtype: object